* {
  background-color: #f5fbfa;
  overflow: hidden;
}

.screens {
  width: 100%;
  background-image: cover;
  display: block;
}

img {
  z-index: 0;
    visibility: hidden;
  position: fixed;
}

#homescreen {
  visibility: visible;
}

#sign_in:hover {
  background-color: #3abc96;
}


#sign_in {
  border: none;
  color: #889996;
  width: 411px;
  height: 47px;
  background-color: #ceeee5;

  font-family: HindMadurai;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  color: #889996;

/*  font-family: HindMadurai;
  font-weight: bold;*/

/*  letter-spacing: -0.7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;*/

  margin-left: 795px;   
  margin-top: 500px;   
  position: fixed;
  z-index: 2;
}
