@font-face {
  font-family: "Hind Madurai";
  src: url("https://fonts.googleapis.com/css?family=Hind+Madurai");
}

* {
  background-color: #f5fbfa;
  overflow: hidden;
}

.screens {
  width: 100%;
  height: 810px;
  display: block;
}

img {
  visibility: hidden;
  position: fixed;
}

#homescreen {
  visibility: visible;
}

#revenue {
  visibility: visible;
}

#name {
  font-family: "Hind Madurai", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-left: 51.45%;
  margin-top: 291px;
  width: 36.66%;
  height: 5.1%;
  background-color: white;
  position: fixed;
}

#pass {
  font-family: "Hind Madurai", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-left: 51.45%;
  margin-top: 390px;
  width: 36.66%;
  background-color: white;
  height: 5.1%;
  position: fixed;
}
