@font-face {
  font-family: "Hind Madurai";
  src: url("https://fonts.googleapis.com/css?family=Hind+Madurai");
}

* {
  background-color: #f5fbfa;
  overflow: hidden;
}

.screens {
  width: 100%;
  height: 810px;
  display: block;
}

img {
  z-index: 0;
  visibility: hidden;
  position: fixed;
}

#homescreen {
  visibility: visible;
}

#name {
  font-family: "Hind Madurai", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-left: 51.45%;
  margin-top: 291px;
  width: 36.66%;
  height: 42px;
  background-color: white;
  position: fixed;
}

#pass {
  font-family: "Hind Madurai", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-left: 51.45%;
  margin-top: 393px;
  width: 36.66%;
  background-color: white;
  height: 42px;
  position: fixed;
}

#sign_in:hover {
  background-color: #3abc96;
}

#sign_in {
  border: none;
  color: #889996;
  width: 28.54%;
  height: 47px;
  background-color: #ceeee5;

  font-family: HindMadurai;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  cursor: pointer;
  color: #889996;

  /*  font-family: HindMadurai;
  font-weight: bold;*/

  /*  letter-spacing: -0.7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;*/

  margin-left: 55.21%;
  margin-top: 500px;
  position: fixed;
  z-index: 2;
}
