@font-face {
  font-family: "Hind Madurai";
  src: url("https://fonts.googleapis.com/css?family=Hind+Madurai");
}

* {
  background-color: #f5fbfa;
  overflow: hidden;
}

img {
  z-index: 0;
  position: fixed;
}

#homescreen {
  width: 100%;
  height: 810px;
  display: block;
}

#name {
  font-family: "Hind Madurai", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-left: 741px;
  margin-top: 291px;
  width: 36.66%;
  height: 42px;
  background-color: white;
  position: fixed;
}

#pass {
  font-family: "Hind Madurai", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-left: 51.45%;
  margin-top: 393px;
  width: 36.66%;
  background-color: white;
  height: 42px;
  position: fixed;
}

#sign_in:hover {
  background-color: #3abc96;
}

#sign_in {
  border: none;
  color: #889996;
  width: 28.54%;
  height: 47px;
  background-color: #ceeee5;

  font-family: HindMadurai;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  cursor: pointer;
  color: #889996;

  margin-left: 55.21%;
  margin-top: 500px;
  position: fixed;
  z-index: 2;
}


/*For page revenue*/
#subscrip {
  z-index: 2;
  width: 150px;
  height: 150px;
  margin-left: 428px;
  margin-top: 137px;
}

#hover_cus {
  width: 226px;
  height: 97px;
  margin-left: 577px;
  margin-top: 215px;
  z-index: 3;
  visibility: hidden;
}

#Group_add {
  width: 672px;
  height: 200px;
  margin-left: 476px;
  margin-top: 321px;
  visibility: hidden;
}

#sub_check {
  width: 150px;
  height: 150px;
  margin-left: 428px;
  margin-top: 137px;
  visibility: hidden;
  z-index: 4;
}

#flat_fee {
  width: 150px;
  height: 152px;
  margin-left: 916px;
  margin-top: 369px;
  z-index: 5;
  visibility: hidden;
}

#flat_fee_green {
  width: 150px;
  height: 152px;
  margin-left: 916px;
  margin-top: 369px;
  z-index: 5;
  visibility: hidden;
}

#flat_check {
  width: 150px;
  height: 152px;
  margin-left: 916px;
  margin-top: 369px;
  z-index: 6;
  visibility: hidden;
}

#flat_fee_hover {
  width: 200px;
  height: 213px;
  margin-left: 1065px;
  margin-top: 437px;
  z-index: 5;
  visibility: hidden;
}

#month {
  width: 493px;
  height: 86px;
  margin-left: 550px;
  margin-top: 550px;
  z-index: 2;
  visibility: hidden;
}

#next {
  width: 100px;
  height: 40px;
  margin-left: 1235px;
  margin-top: 735px;
  z-index: 2;
  visibility: hidden;
}

/*revenue_page2*/

#monthly_black {
  width: 150px;
  height: 150px;
  margin-left: 818px;
  margin-top: 136px;
  z-index: 2;
  visibility: hidden;
}
#monthly_check{
  width: 150px;
  height: 150px;
  margin-left: 818px;
  margin-top: 136px;
  z-index: 2;
  visibility: hidden;
}

#num_customer {
  width: 737px;
  height: 86px;
  margin-left: 427px;
  margin-top: 320px;
  z-index: 1;
  visibility: hidden;
}

#num_cus {
  position: fixed;

  width: 202px;
  height: 39px;
  margin-left: 694px;
  margin-top: 367px;
  border-radius: 4px;
  border: solid 1px #3abc96;
  background-color: #ceeee5;
  visibility: visible;
  z-index: 2;
  visibility: hidden;
  font-family: HindMadurai;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #3abc96;
}

#growth {
  margin-left: 331px;
  margin-top: 436px;
  width: 928px;
  height: 200px;
  visibility: hidden;
}

#constant_black {
  width: 150px;
  height: 155px;
  margin-left: 623px;
  margin-top: 481px;
  z-index: 2;
  visibility: hidden;
}

#constant_check {
  width: 150px;
  height: 155px;
  margin-left: 623px;
  margin-top: 481px;
  z-index: 3;
  visibility: hidden;
}

/*expenses_q1*/

#per_rev {
  width: 150px;
  height: 70px;
  margin-left: 233px;
  margin-top: 170px;
}

#per_rev_click {
  width: 150px;
  height: 70px;
  margin-left: 233px;
  margin-top: 170px;
  visibility: hidden;
  z-index: 2
}

#exe_team {
  width: 150px;
  height: 70px;
  margin-left: 233px;
  margin-top: 277px;
}

#exe_team_click {
  width: 150px;
  height: 70px;
  margin-left: 233px;
  margin-top: 277px;
  visibility: hidden;
  z-index: 2
}

#sales_business {
  width: 150px;
  height: 70px;
  margin-left: 623px;
  margin-top: 277px;
}

#sales_business_click {
  width: 150px;
  height: 70px;
  margin-left: 623px;
  margin-top: 277px;
  visibility: hidden;
  z-index: 2
}


#product_dev {
  width: 150px;
  height: 70px;
  margin-left: 1013px;
  margin-top: 277px;
}

#product_dev_click {
  width: 150px;
  height: 70px;
  margin-left: 1013px;
  margin-top: 277px;
  visibility: hidden;
  z-index: 2
}

#digi_search {
  width: 150px;
  height: 70px;
  margin-left: 623px;
  margin-top: 384px;
}

#digi_search_click {
  width: 150px;
  height: 70px;
  margin-left: 623px;
  margin-top: 384px;
  visibility: hidden;
  z-index: 2
}

#travel_exp {
  width: 150px;
  height: 70px;
  margin-left: 1208px;
  margin-top: 384px;
}

#travel_exp_click {
  width: 150px;
  height: 70px;
  margin-left: 1208px;
  margin-top: 384px;
  visibility: hidden;
  z-index: 2
}

#account {
  width: 150px;
  height: 70px;
  margin-left: 233px;
  margin-top: 490px;
}

#account_click {
  width: 150px;
  height: 70px;
  margin-left: 233px;
  margin-top: 490px;
  visibility: hidden;
  z-index: 2
}

#legal {
  width: 150px;
  height: 70px;
  margin-left: 428px;
  margin-top: 490px;
}

#legal_click {
  width: 150px;
  height: 70px;
  margin-left: 428px;
  margin-top: 490px;
  visibility: hidden;
  z-index: 2
}

#tech {
  width: 150px;
  height: 70px;
  margin-left: 623px;
  margin-top: 490px;
}

#tech_click {
  width: 150px;
  height: 70px;
  margin-left: 623px;
  margin-top: 490px;
  visibility: hidden;
  z-index: 2
}

#insurance {
  width: 150px;
  height: 70px;
  margin-left: 1208px;
  margin-top: 490px;
}

#insurance_click {
  width: 150px;
  height: 70px;
  margin-left: 1208px;
  margin-top: 490px;
  visibility: hidden;
  z-index: 2
}

#rent {
  width: 150px;
  height: 70px;
  margin-left: 233px;
  margin-top: 598px;
}

#rent_click {
  width: 150px;
  height: 70px;
  margin-left: 233px;
  margin-top: 598px;
  visibility: hidden;
  z-index: 2
}

#travel_en {
  width: 150px;
  height: 70px;
  margin-left: 818px;
  margin-top: 598px;
}

#travel_en_click {
  width: 150px;
  height: 70px;
  margin-left: 818px;
  margin-top: 598px;
  visibility: hidden;
  z-index: 2
}

#miscell {
  width: 150px;
  height: 70px;
  margin-left: 1208px;
  margin-top: 598px;
}

#miscell_click {
  width: 150px;
  height: 70px;
  margin-left: 1208px;
  margin-top: 598px;
  visibility: hidden;
  z-index: 2
}

#next_exp {
  width: 100px;
  height: 40px;
  margin-left: 1235px;
  margin-top: 735px;
  z-index: 2;
  visibility: hidden;
}
















