@font-face {
  font-family: "Hind Madurai";
  src: url("https://fonts.googleapis.com/css?family=Hind+Madurai");
}

* {
  background-color: #f5fbfa;
  overflow: hidden;
}

img {
  z-index: 0;
  position: fixed;
}

#homescreen {
  width: 100%;
  height: 810px;
  display: block;
}

#name {
  font-family: "Hind Madurai", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-left: 741px;
  margin-top: 291px;
  width: 36.66%;
  height: 42px;
  background-color: white;
  position: fixed;
}

#pass {
  font-family: "Hind Madurai", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-left: 51.45%;
  margin-top: 393px;
  width: 36.66%;
  background-color: white;
  height: 42px;
  position: fixed;
}

#sign_in:hover {
  background-color: #3abc96;
}

#sign_in {
  border: none;
  color: #889996;
  width: 28.54%;
  height: 47px;
  background-color: #ceeee5;

  font-family: HindMadurai;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  cursor: pointer;
  color: #889996;

  margin-left: 55.21%;
  margin-top: 500px;
  position: fixed;
  z-index: 2;
}


/*For page revenue*/
#subscrip {
  z-index: 2;
  width: 150px;
  height: 150px;
  margin-left: 428px;
  margin-top: 137px;
}

#hover_cus {
  width: 226px;
  height: 97px;
  margin-left: 577px;
  margin-top: 215px;
  z-index: 3;
  visibility: hidden;
}

#Group_add {
  width: 672px;
  height: 200px;
  margin-left: 476px;
  margin-top: 321px;
  visibility: hidden;
}

#sub_check {
  width: 150px;
  height: 150px;
  margin-left: 428px;
  margin-top: 137px;
  visibility: hidden;
  z-index: 4;
}

#flat_fee {
  width: 150px;
  height: 152px;
  margin-left: 916px;
  margin-top: 369px;
  z-index: 5;
}

#flat_check {
  width: 150px;
  height: 152px;
  margin-left: 916px;
  margin-top: 369px;
  z-index: 6;
}

#flat_fee_hover {
  width: 200px;
  height: 213px;
  margin-left: 1065px;
  margin-top: 437px;
  z-index: 5;
}

#month {
  width: 493px;
  height: 86px;
  margin-left: 550px;
  margin-top: 550px;
  z-index: 2;
}






