@font-face {
  font-family: "Hind Madurai";
  src: url("https://fonts.googleapis.com/css?family=Hind+Madurai");
}

* {
  background-color: #f5fbfa;
  overflow: hidden;
}

.screens {
  width: 100%;
  height: 826px;
  display: block;
}

img {
  z-index: 0;
  position: fixed;
}

#homescreen {
  visibility: visible;
}

input,
select {
  position: fixed;
  font-family: "Hind Madurai", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: white;
}

#name {
  margin-left: 51.45%;
  margin-top: 297px;
  width: 36.66%;
  height: 42px;
}

#pass {
  margin-left: 51.45%;
  margin-top: 401px;
  width: 36.66%;
  height: 42px;
}

#sign_in:hover {
  background-color: #3abc96;
}

#sign_in {
  border: none;
  color: #889996;
  width: 28.54%;
  height: 47px;
  background-color: #ceeee5;

  font-family: HindMadurai;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  cursor: pointer;
  color: #889996;
  margin-left: 55.21%;
  margin-top: 508px;
  position: fixed;
  z-index: 2;
}

/*
 *  New model screen (screen 3)
 */
.model_inputs {
  z-index: 1;
  margin-left: 31.66%;
  width: 36.8%;
  height: 44px;
  background-color: white;
}

.model_inputs.drop {
  background: url(res/buttons/dropdown_triangle.svg) no-repeat scroll 99% 50%;
  background-color: white;
}

#model_name {
  margin-top: 87px;
}

#model_date {
  margin-top: 169px;
}

#model_duration {
  margin-top: 251px;
}

#model_frequency {
  margin-top: 331px;
}

#model_currency {
  margin-top: 415px;
}

#model_location {
  margin-top: 497px;
}

#model_industry {
  margin-top: 579px;
}

#model_competitors {
  margin-top: 661px;
}

#start_building_model {
  width: 28.6%;
  margin-left: 35.8%;
  margin-top: 748px;
  cursor: pointer;
}
